<h1>Add a new city!</h1>
<form action="/" method="post">
  <label for="name">City Name</label>
  <input name="name" id="name" type="text" placeholder="Where have you been?"/>
  <label for="country">Country</label>
  <input name="country" id="country" type="text" placeholder="What the heck country is that in?"/>
  <label for="population">Population</label>
  <input name="population" id="population" type="text" placeholder="How many folks live there?"/>
  <button type="submit">Add it!</button>
</form>
